<h1>Task List</h1>


<% @tasks.each do |task| %>
  <h2><input type="checkbox"><%= link_to task.title, task_path(task) %><br></h2>
  <%= link_to "Delete", task_path(task['id']),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

<% end %>



  <h2><%= link_to "Create new task", tasks_new_path %></h2>



